<!-- Empty cart-->
<section class='h-screen py-10 bg-green-50'>
<div class="container  text-center mx-auto">
   
        <h1 class='text-x3 font-bold mb-2 '>Crat </h1>
        <p class='mb-10'>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Dolore veritatis illo aperiam nihil.</p>

<div class="cart_img relative h-screen py-10">
    <img src="/img/hero/undraw_empty_xct9.svg" class="w-2/5 mx-auto">

    <a href="/" class='inline-block px-6 py-4 bg-green-400 rounded-lg font-bold text-xl text-white'>Go Back </a>
</div>    
</div>
</section>