
      <section class="hero py-16 ">
        <div class="wrapper container md:flex justify-center items-center mx-auto  block ">
            
          
          <div class="left md:w-1/2   flex flex-col justify-start  md:my-auto my-16  "> 
            <div class="mb-4 headline py-6">
              <p class="mb-0"><i class="mr-2 fas fa-bell rounded-full text-blue-400" ></i> <span class="font-weight-bold font-bold"></span>50% Discount </span> <em class="text-white font-semibold">first annual purchase</em></p>
          </div>
            <h1 class="font-bold text-6xl md:text-white leading-snug">Fly Your Dream With Hostkites .</h1>
        
              <div class="typing-demo leading-snug">
                Best Hosting Start Now..!
              </div>
  
            <button class=" text-center my-10 rounded-full flex items-center shadow bg-blue-500 px-6 py-4 w-44 text-white hover:bg-blue-400">
              Default
        
          
              <i class="fas fa-angle-double-right px-5 text-white"></i>
          </button>
          </div>

          <div class="right md:w-1/2 w-auto  md:my-auto my-16 ">
            <img src="/img/hero/hero.svg">
          </div>
        </div>
      </section>
<section class="py-8">
      <div class=" container  md:flex justify-center items-center mx-auto  block " >
        <div class="domain_img md:w-1/2  h-96  relative ">

          <img alt="domain_img" src="img/hero/domain-find.jpg" class="h-full rounded-lg absolute md:bottom-20 left-40 shadow-xl">

        </div>

        <div class="heading md:w-1/2 ">
           <h2 class="font-bold text-3xl p-8 text-center "> Find your sutable domain name</h2>
           <form>
            <div class="p-8">
              <div class="bg-white flex items-center rounded-full shadow-xl">
                <input class="rounded-l-full w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none" id="search" type="text" placeholder="Search">
                
                <div class="p-4 flex ">
                  <select name="domainType" class="form-control border-none outline-none"><option value="com" selected>.com</option><option value="net">.net</option><option value="io">.io</option><option value="info">.info</option><option value="store">.store</option><option value="store">.org</option></select>
                                     
                  <button class="bg-blue-500 text-white rounded-full p-2 hover:bg-blue-400 focus:outline-none w-12 h-12 flex items-center justify-center ml-4">
                    <i class="fas fa-search text-white"></i>
                  </button>
                  </div>
                </div>

                <div class="register__result flex  w-full">
                  <ul class="flex justify-around w-full my-8">
                      <li >.com <span>$1.95</span></li>
                      <li>.net <span>$1.95</span></li>
                      <li>.org <span>$1.95</span></li>
                      <li>.us <span>$1.95</span></li>
                      <li>.in <span>$1.95</span></li>
                  </ul>
              </div>
              </div>
            </div>
           </form>
        </div>
      </div>
</section>


<!--featucher -->
<section class=" py-16 bg-green-50 relative">

  
<div class="container mx-auto ">
  
  <div class="text_serction flex justify-center items-center flex-col md:w-1/2 mx-auto text-center">
    <h1 class="subheading text-center font-bold text-5xl mt-8 tracking-wide relative my-20">Main Feature</h1>
    <p>Get the high-quality and best wordpress hosting at Hostkites. We are always appreciated and awarded for Performance, Reliability, Security and Customer Service. </p>
  </div>  

  <div class="container my-12  px-4 md:px-12 ">
    <div class="flex flex-wrap  lg:-mx-4 gap-6 justify-center items-start ">



<div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/4 text-center card single-promo-card single-promo-hover relative py-16">
  <div class="card-body">
      <div class="pb-2">
          <span class="fas fa-cubes text-4xl text-blue-800"></span>
      </div>
      <div class="pt-2 pb-3">
          <h5>Fully functional</h5>
          <p class="mb-0">We are using cPanel which is the most famous and required panel to manage hosting, also in the webserver site </p>
      </div>
  </div>
</div>


<div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/4 text-center card single-promo-card single-promo-hover relative py-16">
  <div class="card-body">
      <div class="pb-2">
        <span class="fas fa-phone text-4xl text-blue-800"></span>
     
      </div>
      <div class="pt-2 pb-3">
          <h5>Fully functional</h5>
          <p class="mb-0">We are using cPanel which is the most famous and required panel to manage hosting, also in the webserver site </p>
      </div>
  </div>
</div>




<div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/4 text-center card single-promo-card single-promo-hover relative py-16">
  <div class="card-body">
      <div class="pb-2">
          <span class="fas fa-lock text-4xl text-blue-800"></span>
      </div>
      <div class="pt-2 pb-3">
          <h5>Fully functional</h5>
          <p class="mb-0">We are using cPanel which is the most famous and required panel to manage hosting, also in the webserver site </p>
      </div>
  </div>
</div>

</div>
</div>
</div>


</section>
<!--featucher end-->

<!-- price section -->
<section class="bg-green-50 py-40">
  <div class="container mx-auto  relative  ">
    <div class="text_serction flex justify-center items-center flex-col md:w-1/2 mx-auto text-center mb-28">
      <h1 class="subheading text-center font-bold text-5xl mt-8 tracking-wide relative my-20">Our Pricing</h1>
      <p>Get the high-quality and best wordpress hosting at Hostkites. We are always appreciated and awarded for Performance, Reliability, Security and Customer Service. </p>
    </div>
  
  <div class="text_serction">                       
    <div class="flex flex-row justify-center my-10 text-sm tracking-tight font-medium text-gray-700">
      <p class="mx-3">Annually</p>
  
      <!-- Toggle Button -->
      <label for="toggle" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- hidden input -->
          <input id="toggle" type="checkbox" class="hidden" onclick="myFunction()" />
          <!-- line -->
          <div class="w-10 h-3 bg-gray-400 rounded-full shadow-inner"></div>
          <!-- dot -->
          <div class="toggle_dot absolute w-5 h-5 bg-white rounded-full shadow inset-y-0 left-0 "></div>
        </div>
      </label>
  
      <p class="mx-3">Monthly</p>
    </div>
  
    <div class="flex flex-col md:flex-row md:transform md:scale-75 lg:scale-100 justify-center">
      <div class="border rounded-lg md:rounded-r-none text-center p-5 mx-auto md:mx-0 my-2 md:my-6 bg-gray-100 font-medium z-10 shadow-lg">
        <div class="">Basic</div>
        <div id="month" class="font-bold text-6xl month hidden">&dollar;19.99</div>
        <div id="annual" class="font-bold text-6xl annual">&dollar;199.99</div>
        <hr>
        <div class="text-sm my-3">500 GB Storage</div>
        <hr>
        <div class="text-sm my-3">2 Users Allowed</div>
        <hr>
        <div class="text-sm my-3">Send up to 3 GB</div>
        <hr>
        <a href="#" target="_blank">
          <div class="bg-gradient-base border border-blue-600 hover:bg-white text-white hover:text-blue-600 font-bold uppercase text-xs mt-5 py-2 px-4 rounded cursor-pointer">Learn More</div>
        </a>
      </div>
  
      <div class="border-transparent rounded-lg text-center p-5 mx-auto md:mx-0 my-2 bg-gradient text-white font-medium z-10 shadow-lg">
        <div class="py-4">Professional
          <div id="month" class="font-bold text-6xl month hidden">&dollar;24.99</div>
          <div id="annual" class="font-bold text-6xl annual">&dollar;249.99</div>
          <hr>
          <div class="text-sm my-3">1 TB Storage</div>
          <hr>
          <div class="text-sm my-3">5 Users Allowed</div>
          <hr>
          <div class="text-sm my-3">Send up to 10 GB</div>
          <hr>
          <a href="#" target="_blank">
            <div class="bg-white border border-white hover:bg-transparent text-blue-600 hover:text-white font-bold uppercase text-xs mt-5 py-2 mpx-4 rounded cursor-pointer">Learn More</div>
          </a>
        </div>
      </div>
  
      <div class="border rounded-lg  md:rounded-l-none text-center p-5 mx-auto md:mx-0 my-2 md:my-6 bg-gray-100 font-medium z-10 shadow-lg">
        <div class="">Master</div>
        <div id="month" class="font-bold text-6xl month hidden">&dollar;39.99</div>
        <div id="annual" class="font-bold text-6xl annual">&dollar;399.99</div>
        <hr>
        <div class="text-sm my-3">2 TB Storage</div>
        <hr>
        <div class="text-sm my-3">10 Users Allowed</div>
        <hr>
        <div class="text-sm my-3">Send up to 20 GB</div>
        <hr>
        <a href="#" target="_blank">
          <div class="bg-gradient-base border border-blue-600 hover:bg-transparent text-white hover:text-blue-600 font-bold uppercase text-xs mt-5 py-2 px-4 rounded cursor-pointer">Learn More</div>
        </a>
      </div>
    </div>
  
  </div>
  <div class="mt-5 text-center support-cta">
    <h5 class="mb-1"><span class="mr-3 fas fa-phone text-2xl text-yellow-400"></span>We're Here to Help You
    </h5>
    <p>Have some questions? <a href="#" class="text text-yellow-400">Chat with us now</a>, or <a href="#" class='text-blue-600'>send us an email</a> to get in touch.</p>
</div>
  </div>
</section>
<!-- price section end-->
<section class="py-16">

  <div class="container mx-auto">

    <div class="text_serction flex justify-center items-center flex-col md:w-1/2 mx-auto text-center mb-28">
      <h1 class="subheading text-center font-bold text-5xl mt-8 tracking-wide relative my-20">Bay Some Template</h1>
      <p> Bay some usefull template on your Website it's very userfull own  making website . All template is Custom or It has Some Importent feature like. <em>Paymentgaet</em>, <em>login form</em> , <em>domain Craker </em><strong> No copy </strong> </p>
    </div>



  

        <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">

            <nav id="store" class="w-full z-30 top-0 px-6 py-1">
                <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-3">

                    <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl " href="#">
				Store
			</a>

      
                    <div class="flex items-center" id="store-nav-content">

                        <a class="pl-3 inline-block no-underline hover:text-black" href="#">
                            <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M7 11H17V13H7zM4 7H20V9H4zM10 15H14V17H10z" />
                            </svg>
                        </a>
                        <a href="/cart" class="rounded-2xl  border-2 border-yellow-400 bg-yellow-300 mx-4 p-2 w-24">
                          <i class="fas fa-shopping-bag"></i>
                          Cart</a>

                    </div>
                    
              </div>
            </nav>

            <% datakey.forEach(function(data){ %>
              
              <div class="w-full md:w-1/3 xl:w-1/4 p-6 mb-10 flex flex-col ">
                <a href="#" >
                    <img class="hover:grow hover:shadow-lg  rounded-lg" src=<%- data.image %>>
                </a>
                <div class="pt-3 flex items-center justify-between">
                  <p class=""><%- data.name %></p>
                  <p class="pt-1 text-gray-900">&#8377;<%- data.price %></p>
              </div>
              <div class="pt-3 flex items-center justify-between">
                <button class="add-to-cart text-center  rounded-full flex justify-center shadow bg-blue-500 px-2 py-1 w-20 text-white hover:bg-blue-400" type="submit">
                  Click 
              </button>
            </div>
            </div>
  
  


            <% }); %>
      
           
        


            </div>

 

  </div>

</section>


















