<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
      
<!-- font awesome-->
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap" rel="stylesheet">
<link href="/css/app.css"rel="stylesheet">
<link href="/css/output.css"rel="stylesheet">
</head>
<body>
<header class=" flex flex-wrap flex-row justify-between items-center md:space-x-4 bg-blue-50 px-6 py-6 ">
<a class="block " href="/">
  <img class="h-8" src="/img/logo/logo4.png" alt="hostkites-logo"  title="hostkites.com web host">
</a>
  <button id=" hamburrger" class="inline-block md:hidden w-8 h-8 bg-gray-200 text-gray-600 p-1">
    <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
  </button>
<nav id="navsection" class=" md:relative top-16 left-0 md:top-0 z-20 flex flex-col md:flex-row md:space-x-6 font-semibold w-full md:w-auto bg-white shadow-md rounded-lg md:rounded-none md:shadow-none md:bg-transparent p-6 pt-0 md:p-0 ">
  <a href="/" class="block py-1 text-indigo-600 hover:underline">Home</a>
  <a href="#" class="block py-1 text-gray-600 hover:underline">About us</a>
  <a href="#" class="block py-1 text-gray-600 hover:underline">Services</a>
  <a href="#" class="block py-1 text-gray-600 hover:underline">Blog</a>
  <a href="#" class="block py-1 text-gray-600 hover:underline">Contact</a>

<div id="navsection" class=" md:relative top-16 left-0 md:top-0 z-20 flex flex-col md:flex-row md:space-x-6 font-semibold w-full md:w-auto bg-white shadow-md rounded-lg md:rounded-none md:shadow-none md:bg-transparent p-6 pt-0 md:p-0 ">
   <% if(user){%>
   <form id="logout" action="/logout" method="POST">
    <a  onclick="document.getElementById('logout').submit()"  href="#"class="block py-1 text-gray-600 hover:underline">Logout</a>
   </form>
   <% } else {%>
    <a href="/register" class="block py-1 text-gray-600 hover:underline">Register</a>
    <a href="/login" class="block py-1 text-gray-600 hover:underline">Login</a>
    <%}%>
</div>
</nav>
</header>

    <%- body %>

<!--footer -->


<footer class="bg-gray-800  pt-10">
    <div class="max-w-6xl m-auto text-gray-800 flex flex-wrap justify-left">
        <!-- Col-1 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
                Getting Started
            </div>

            <!-- Links -->
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Installation
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Release Notes
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Upgrade Guide
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Using with Preprocessors
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Optimizing for Production
            </a>
         
        </div>

        <!-- Col-2 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
                Core Concepts
            </div>

            <!-- Links -->
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Utility-First
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Responsive Design
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Hover, Focus, & Other States
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Dark Mode
            </a>
         
       
        </div>

        <!-- Col-3 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
                Customization
            </div>

            <!-- Links -->
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Configuration
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Theme Configuration
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Breakpoints
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Customizing Colors
            </a>
          
        </div>

        <!-- Col-3 -->
        <div class="items-center w-full sm:w-4/12 md:w-3/12">
            <div class="px-1 p-7 mt-10 bg-green-500 rounded-lg border-black" >
                <div class="text-center">
                    <h1 class=" text-white text-2xl font-bold leading-tight my-3 ">Get the
                        Latest Information</h1>

                    <div class="w-full text-center ">
                        <form action="#">
                            <div class="max-w-sm mx-auto p-2  flex  items-center gap-2 justify-center flex-wrap">
                                <input type="email" placeholder="yourmail@example.com"
                                    class="flex-1 appearance-none rounded shadow p-3  mx-4 focus:outline-none">
                                <button type="submit"
                                    class="bg-blue-600 text-white text-base font-semibold rounded-md shadow-md hover:bg-indigo-600 p-3">Get
                                    started</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
           <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script  src="js/app.js"></script>
        <!--JS for toggle-->
  <script>
    function myFunction() {
      var x = document.querySelectorAll('.annual');
      var y = document.querySelectorAll('.month');
      
      for (var i = 0; i < x.length; i++) {
        if (document.getElementById("toggle").checked == true) {
          x[i].classList.add('hidden');
          y[i].classList.remove('hidden');
        } else {
          x[i].classList.remove('hidden');
          y[i].classList.add('hidden');
        }
      }
    }
    //Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}


  </script>

</body>
</html>